boto3==1.36.21
Django==5.2.13
django-celery-beat==2.9.0
django-celery-results==2.6.0
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-filter==25.2
django-formtools==2.5.1
django-storages==1.14.5
django-taggit==6.1.0
django-ratelimit==4.1.0
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-use-email-as-username==1.4.0
drf-spectacular==0.29.0
mailtrap==2.4.0
mysqlclient==2.2.8
pillow==12.2.0
psycopg2-binary==2.9.9
python-decouple==3.8
redis==5.2.0
whitenoise==6.12.0
